element.style {
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

*{
    background-color: bisque;
}
    
button{
    padding: 20px 40px;
    font-size: 1.2em;
    color: white;
    background-color: #4CAF50; 
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    outline: none; 
}
h1{
    color: green;
}

button:hover {
    background-color: #4CAF50; 
    transform: scale(1.1); 
    transition: all 0.3s ease;
}

