element.style {
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.btn {
    background-color: #4CAF50; /* Yaşıl rəng */
    color: white; /* Yazının rəngi */
    font-size: 16px; /* Yazı ölçüsü */
    padding: 10px 20px; /* Yastıqlıqlar */
    border: none; /* Çərçivə yoxdur */
    border-radius: 8px; /* Küncləri yuvarlaqlaşdır */
    transition: background-color 0.3s ease; /* Üzərinə gələndə rəngin dəyişməsi */
  }
  .btn:hover {
    background-color: #45a049; /* Tünd yaşıl */
  }
  
  